* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width:1200px;
    margin:0 auto;
}

header {
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    min-height: 700px;
}

#visual {
    background-image: url(/imgs/visual.jpg);
    background-size: cover;
}

nav {
    height: 80px;
    width:500px;
}

nav > ul {
    width:100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav > ul > li {
    width:33.33%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.2em;
    cursor: pointer;
}

nav > ul > li:hover {
    background-color: #000;
    color:#fff;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:200px;
}

#main > h1 {
    font-size:4rem;
    margin-bottom:20px;
}

#main > p {
    font-size:2rem;
}

#fund {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
}